@font-face{
    font-family: like-an-old;
    src: url(../fonts/3d_unicode.eot);
    src: url(../fonts/3d_unicode.woff2);
    src: url(../fonts/3DUnicode.svg);
    src: url(../fonts/3DUnicode.woff);
}