html, body{
    height: 100%;
    width: 100%;
}
body{
    padding: 2%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.section-section{
    height: 100%;
    width: 100%;
}
.section-div{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    padding: 2%;
}
.main-box{
    height: 100%;
    width: 100%;
    background-color: rgb(100, 41, 41);
}
.left-box{
    height: 100%;
    width: 100%;
    display: inline-block;

}
.right-box{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.chicken-box{
    height: 100%;
    width: 100%;
}
.chicken-box img{
    height: 363px;
    bottom: 1px;
    left:36%;
    z-index: 5;
}
.egg-box{
    height: 100%;
    width: 100%;
}
.egg-box img{
    height: 28px;
    z-index: 4;
    bottom: 132px;
    left: 54%;
    
}