html, body{
    height: 100%;
    width: 100%;
}
body{
    padding: 2%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.section-div{
    height: 100%;
    width: 100%;
    background-color: #333399;
    padding: 2%;

}
.green-box{
    height: 100%;
    width: 100%;
    background-color: #00cc00;
}
.chicken-box{
    height: 100%;
    width: 100%;
}
.chicken{
    height: 200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    
}
.egg {
    height: 30px;
    top:48%;
    left:47%;
    transform: translate(-50%, -60%);
    z-index: 4;
    animation: move 1s infinite;
}
@keyframes move{
    from {top: 48%;}
    to {top: 73%;}
}
